*{/*总体样式*/
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
/*导航栏部分*/
.navbar-default{
	background-color: white;
}
.navbar-collapse{/*当屏幕宽度变小时,汉堡按钮的文字居中显示*/
	text-align: center;
}
.navbar-nav a:hover{
	color: red !important;
}

/*模态框里的注册页面*/
.modal-body{
	/*height: 540px;*/
}
.bdusually {
	margin: 0 auto;
    width: 100%
}
.usually{
	width: 100%;
	float: left;
}
.usually  span{
    width: 100px;
    line-height: 50px;
    display: block;
    float: left;
}
.usually  input{
	float: left;
	width: 200px;
	height: 20px;
    box-sizing: border-box;
    margin-top: 12px;
}
.usually  label{
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    line-height: 50px;
}
#male,#female{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.usually-xq{
	width: 100%;
	float: left;
}
.usually-xq  span{
    width: 100px;
    display: block;
    float: left;
}
.usually-xq input{
	margin-left: 5px;
}
.usually-xq label{
	margin-left: 5px;
}
/*登录里的代码*/
.title{
	display: inline-block;
	width: 60px;
	text-align: right;
}
.note{
	display: inline-block;
	width: 80px;
	text-align: center;
	font-size: 11px;
	color: red;
}



/*tab切换*/
@media (max-width:767px ) {
	.nav-tabs{
		font-size: 12px;
	}
}
@media (min-width:767px){
	.nav-tabs{
		padding-left: 22%;
	}
}
@media (min-width:1024px){
	.nav-tabs{
		padding-left: 22%;
	}
}
@media (min-width:1200px){
	.nav-tabs{
		padding-left: 33%;
	}
}
@media  (max-width:380px ) {
	.nav-tabs li:nth-child(5){
		display: none;
	}
}
@media (max-width:415px ) {
	.nav-tabs li:nth-child(4){
		display: none;
	}
}
@media (max-width:420px ) {
	.nav-tabs li:last-child{
		display: none;
	}
}
.nav-tabs>li>a{
	margin-right: 0px !important;
}
.tabsection{
	padding: 10px;
	overflow: hidden;
}
.tabsection-dhl{
	margin: 0 auto;
	overflow: hidden;
}
/*图片部分*/
.pic{
	margin: 20px auto;
	height: 263px;	
	position: relative;
	overflow: hidden;
	/*box-shadow: 5px 8px 10px gray;*/
	background-color: #f7f7f7;
}
.pic div{
	width: 100%;
	color: white;
	background: orange;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	position: absolute;
	bottom: -50px;
	transform: 2s;
	text-align: center;
}
.pic img{
	width: 100%;
	height: 78%;
	position: absolute;
	left: 0;
	top: 0;
	transition: 2s;
}
.pic:hover{
	box-shadow: 5px 8px 10px gray;
	transform: scale(1.1);
}
.pic:hover :after,.pic:hover :before{
	top: 0;
}
.pic span{
	position: absolute;
	top: 80%;
	text-indent: 1em;
	left: 0;
}
.pic span:hover{
	color: #61B0A7;
}
.pic p{
	position: absolute;
	top: 88%;
}
.pic>.first{
	position: relative;
	float: left;
	text-indent: 1em;
	padding-top: 2px;
	color: #999;
}
.pic>.second{
	position: relative;
	float:right;
	margin-right: 20px;
}

/*页脚部分*/
.footer{
	background-color: #333333;
	text-align: center;
}
.footer h2{
	color: white;
}
.footer p {
	color: #999999 !important;
	padding: 10px 0px 0px 10px;
}
.footer a{
	color: #999999 !important;
	text-decoration: none;
}
.footer a:hover{/*去掉下划线  且将文字颜色改成白色*/
	text-decoration: none;
	color: white !important;
}
.footer a:after{/*a标签的后面添加个|符号*/
	content: " | ";
}
@media (max-width: 767px){/*小于767px以下时,便隐藏掉第一行页脚*/
	.footer p:first-child{
		display: none;
	}
}